<div class="content" role="main">
  <ng-container *ngIf="isEditing; else newButton">
    <form #myForm="ngForm">
      <input [(ngModel)]="hero.name" name="heroName" required="heroName" />
      <ng-container *ngIf="hero.id; else add">
        <button
          (click)="updateHero(hero)"
          [disabled]="myForm.invalid || myForm.pristine || (loading$ | async)">
          更新
        </button>
      </ng-container>
      <ng-template #add>
        <button
          (click)="addHero(hero)"
          [disabled]="myForm.invalid || (loading$ | async)" ]
          >
          追加
        </button>
      </ng-template>
      <button (click)="endEdit()"
              [disabled]="loading$ | async">
        キャンセル
      </button>
    </form>
  </ng-container>
  <ng-template #newButton>
    <button (click)="beginEdit()">
      新規追加
    </button>
  </ng-template>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>delete</th>
      <th>update</th>
    </tr>
    <tr *ngFor="let hero of heroes$ | async">
      <td>{{hero.id}}</td>
      <td>{{hero.name}}</td>
      <td>
        <button
          [disabled]="isEditing"
          (click)="deleteHero(hero.id)">
          削除
        </button>
      </td>
      <td>
        <button [disabled]="isEditing"
                (click)="beginEdit()">
          更新
        </button>
      </td>
    </tr>
  </table>
</div>
